@font-face {
	font-family: LuckiestGuy;
	src: url(../fonts/LuckiestGuy-Regular.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
	font-family: 'LuckiestGuy', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	color: #156734;
}

.container {
  margin: 0 auto;
  padding: 20px 17px;
  width: 98%;
  max-width: 375px;
  max-height: 534px;
  border: 4px solid #156734;
  border-radius: 25px;
}

.settingsContainer {
  width: 100%;
  overflow: auto;
}

.settings {
  background-color: transparent;
  border: none;
  padding: 0;
  width: fit-content;
  box-shadow: none;
  color: #156734;
  float: right;
  font-size: 1.25em;
  cursor: pointer;
  font-family: inherit;
}

.settings:disabled {
  color: #cccccc;
  cursor: default;
}

h1, h2 {
  color: #694A28;
  text-shadow: 1px 1px 2px rgba(5, 5, 5, 0.55);
  text-align: center;
}

h1 {
  font-size: 1.9em;
}

h2 {
  text-align: left;
  font-size: 1.5em;
}

.image-content-surround {
  height: 280px;
  width: 280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.centered-content-row {
  width: 100%;
  text-align: center;
}

.svgContainer {
  position: relative;
  transform: translateY(-98%);
}

.svgTimerContainer {
  position: relative;
  transform: translateY(-198%);
}

.duck {
  height: 275px;
  width: 275px;
}

img {
  position: relative;
  top: 50%;
  width: 250px;
  margin: 0 auto;
  transform: translateY(-50%);
}

#timerDisplay {
  padding: 20px;
  font-size: 2em;
  color: #222222;
  text-shadow: 2px 2px 3px rgba(5, 5, 5, 0.5);
}

button {
  background-color: #156734;
  width: 200px;
  color: #ffffff;
  padding: 11px 15px;
  border: 1px solid #638A73;
  border-radius: 22px;
  cursor: pointer;
  font-size: 1.25em;
  box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.55) inset;
}

.formContainer {
	z-index: 1;
	display: none;
	position: absolute;
	transform: translate(23%, 10%);
	min-height: 75px;
	width: 260px;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid #156734;
  border-radius: 22px;
	padding: 10px;
}

.radioLabel {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1.5em;
  font-size: 1.5em;
}

.radioLabel + .radioLabel {
  margin-top: 0.5em;
}

.rangeLabel {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 5.75em;
  font-size: 1.5em;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  width: 1.75em;
  height: 1.75em;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #cccccc;
  border-radius: 50%;
  transform: translateY(-0.5em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-out;
  /* background-color: #C75F2E; */
  background-image: linear-gradient(to bottom right, #490a83, #155DAD, #156734);
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.55) inset;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.95);
  width: 130px;
  font: inherit;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1.75em;
  border: 1px solid #cccccc;
  border-radius: 0.8em;
  padding: 0.1em 0.1em 0 0.1em;
}

input[type="range"]::-moz-range-track  {
  height: 1.75em;
  border: 1px solid #cccccc;
  border-radius: 0.8em;
  padding-top: 0.1em;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4em;
  height: 1.4em;
  /* background-color: #C75F2E; */
  background-image: linear-gradient(to bottom right, #490a83, #155DAD, #156734);
  border-radius: 50%;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.55) inset;
}

input[type="range"]::-moz-range-thumb  {
  width: 1.4em;
  height: 1.4em;
  /* background-color: #C75F2E; */
  background-image: linear-gradient(to bottom right, #490a83, #155DAD, #156734);
  border-radius: 50%;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.55) inset;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
  }

  h1, h2 {
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
  }

  button {
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.55) inset;
  }

  #timerDisplay {
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(230, 230, 230, 0.5);
  }

  .formContainer {
    background-color: rgba(0, 0, 0, 0.9);
  }

  input[type="radio"] {
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #333333;
  }

  input[type="radio"]::before {
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.55) inset;
  }

  input[type="range"] {
    background-color: rgba(0, 0, 0, 0.9);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    border: 1px solid #333333;
  }
  
  input[type="range"]::-moz-range-track  {
    border: 1px solid #333333;
  }

  input[type="range"]::-webkit-slider-thumb {
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.55) inset;
  }
  
  input[type="range"]::-moz-range-thumb  {
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.55) inset;
  }

  .settings:disabled {
    color:#333333;
  }
}
