@font-face {
	font-family: LuckiestGuy;
	src: url(../fonts/LuckiestGuy-Regular.ttf);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'LuckiestGuy', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	color: #156734;
}

.container {
  margin: 0 auto;
  padding: 20px;
  width: 98%;
  max-width: 375px;
  border: 4px solid #156734;
  border-radius: 25px;
}

h1 {
  color: #694A28;
  text-shadow: 1px 1px 2px rgba(5, 5, 5, 0.55);
  text-align: center;
}

.image-content-surround {
  height: 280px;
  width: 280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.centered-content-row {
  width: 100%;
  text-align: center;
}

.svgContainer {
  position: relative;
  transform: translateY(-98%);
}

.svgTimerContainer {
  position: relative;
  transform: translateY(-198%);
}

.duck {
  height: 275px;
  width: 275px;
}

img {
  position: relative;
  top: 50%;
  width: 250px;
  margin: 0 auto;
  transform: translateY(-50%);
}

#timerDisplay {
  padding: 20px;
  font-size: 2em;
  color: #222222;
  text-shadow: 2px 2px 3px rgba(5, 5, 5, 0.5);
}

button {
  background-color: #156734;
  width: 200px;
  color: #ffffff;
  padding: 11px 15px;
  border: 1px solid #638A73;
  border-radius: 22px;
  cursor: pointer;
  font-size: 1.25em;
  box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.55) inset;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
  }

  h1 {
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
  }

  button {
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.55) inset;
  }

  #timerDisplay {
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(230, 230, 230, 0.5);
  }
}
